# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
.venv/

# PyInstaller
build/
dist/
*.spec.bak

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Temp
*.tmp
*.bak

# Test folders (don't push to GitHub)
CB_amplifier/
bc547.lib
